<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modeloER -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="modeloER.modeloER.presentation.ModeloERModelWizardID"
            name="%_UI_ModeloERModelWizard_label"
            class="modeloER.modeloER.presentation.ModeloERModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModeloERModelFile.gif">
         <description>%_UI_ModeloERModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modeloER -->
      <editor
            id="modeloER.modeloER.presentation.ModeloEREditorID"
            name="%_UI_ModeloEREditor_label"
            icon="icons/full/obj16/ModeloERModelFile.gif"
            extensions="modeloer"
            class="modeloER.modeloER.presentation.ModeloEREditor"
            contributorClass="modeloER.modeloER.presentation.ModeloERActionBarContributor">
      </editor>
   </extension>
</plugin>
