<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated flotaVehiculos -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="flotaVehiculos.presentation.FlotaVehiculosModelWizardID"
            name="%_UI_FlotaVehiculosModelWizard_label"
            class="flotaVehiculos.presentation.FlotaVehiculosModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FlotaVehiculosModelFile.gif">
         <description>%_UI_FlotaVehiculosModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated flotaVehiculos -->
      <editor
            id="flotaVehiculos.presentation.FlotaVehiculosEditorID"
            name="%_UI_FlotaVehiculosEditor_label"
            icon="icons/full/obj16/FlotaVehiculosModelFile.gif"
            extensions="flotavehiculos"
            class="flotaVehiculos.presentation.FlotaVehiculosEditor"
            contributorClass="flotaVehiculos.presentation.FlotaVehiculosActionBarContributor">
      </editor>
   </extension>

</plugin>
